%% -*- erlang -*-
%{erl_opts, [{kernel_poll, true}, {smp, auto}]}.
{deps, [
    {erldis, ".*",  
        {git, "https://github.com/cstar/erldis.git", "master"} },
    
    {redis, ".*",  
        {git, "git://github.com/JacobVorreuter/redis_pool.git", "master"} }
    
]}.
{eunit_opts, [verbose]}.
{cover_enabled, true}.