%% -*- erlang -*-
%{erl_opts, [{kernel_poll, true}, {smp, auto}]}.
{deps, [
    {erldis, ".*",  
        {git, "https://github.com/cstar/erldis.git", "master"} }
%%     ,{er, ".*",  
%%         {git, "git://github.com/mattsta/er.git", "master"} }
]}.
%% {eunit_opts, [verbose]}.
{eunit_opts, []}.
{cover_enabled, true}.